.wapper {
  width: 95%;
  margin: auto;
  .container {
    margin-top: 7rem;
    width: 100%;
    display: flex;

    .info {
      width: 100%;
      height: 6rem;
      display: flex;
      align-items: center;
      padding: 1rem;

      img {
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
      }

      span {
        margin-left: 1rem;
        font-size: 1.6rem;
        font-weight: 300;
        color: var(--dark-color);
      }
    }

    .navbar {
      overflow: hidden;
      position: relative;
      min-height: 80vh;
      margin-right: 2rem;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

      .nav-links {
        width: 22rem;

        .nav-link {
          width: 100%;
          height: 6rem;
          cursor: pointer;
          border: 2px solid transparent;

          &.active {
            border-bottom-color: var(--primary-color);
            border-top-color: var(--primary-color);
          }
        }
      }

      .logout {
        margin-top: 2rem;
        width: 100%;
        display: flex;
        justify-content: center;
      }
    }

    .main {
      position: relative;
      flex: 1;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

      .action {
        margin: auto;
        width: 95%;
        height: 6rem;
        display: flex;
        align-items: center;
        border-bottom: 1px solid var(--dark-color);
        font-size: 1.8rem;
        color: var(--dark-color);
        font-weight: 450;
      }
    }
  }
}
